NET "clk" LOC = "P87";
NET "rst" LOC = "P17" ;

NET "cmd_button" LOC = "P7";
NET "data_button" LOC = "P10";
NET "normal" LOC = "P14";

NET "cmd_led" LOC = "P5";
NET "data_led" LOC = "P6";

NET "rx_data" LOC = "P88" ;

net "D[7]" LOC = "P50" ;
net "D[6]" LOC = "P47" ;
net "D[5]" LOC = "P45" ;
net "D[4]" LOC = "P43" ;
net "D[3]" LOC = "P40" ;
net "D[2]" LOC = "P34" ;
net "D[1]" LOC = "P32" ;
net "D[0]" LOC = "P29" ;
net "E"  LOC = "P26" ;
net "RW" LOC = "P23" ;
net "RS" LOC = "P21" ;
